.intro {
  //height: 100vh;
    width: 100vw;
  margin-top: 130px;
  min-height: calc(100vh - 130px);
  z-index: 3;
}
.blinking-cursor::after {
  content: "|";
  animation: blink 1s step-end infinite;
}
@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.intro-text {
  & .typewriting {
    height: 3rem;
    @media (max-width: 1024px) {
      height: 5rem;
    }
    @media (max-width: 768px) {
      height: 5rem;
    }
    @media (max-width: 440px) {
      height: 5.5rem;
    }
    @media (max-width: 405px) {
      height: 5rem;
    }
    @media (max-width: 315px) {
      height: 6rem;
    }
  }
    position: relative;
  top: 150px;
  left: 100px;
  @media (max-width: 919px) {
    & {
      top: 20%;
      left: 36px;
    }
  }
    width: 60%;
    height: fit-content;
    color: #fff;
  font-family: 'Lexend', sans-serif;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  & h1 {
    //font-size: 50px;
    font-size: clamp(1.75rem, calc(2.75vw + 2vh), 4rem);
    font-weight: 700;
    margin-bottom: 20px;
  }
  & h2 span {
    font-weight: bold;
    font-size: clamp(1.25rem, calc(2.25vw + 1.5vh), 2rem);
  }
  & h2 {
    font-size: clamp(1rem, calc(2vw + 1vh), 1.75rem);
    font-weight: 400;
    margin-top: 1rem;
  }
  & .social-media {
    position: relative;
    //top: 320px;
    //left: 0;
    margin-top: 3rem;
    font-size: 2rem;
    & > a {
      margin-right: 20px;
    }
    @media (max-width: 315px) {
      & {
        font-size: 1.7rem;
      }
    }
  }
  & .intro-button {
    margin-top: 1.25rem;
  }
  @media (max-width: 1024px) {
    //& .social-media {
    //  top: 300px;
    //}
  }
  @media (max-width: 780px) {
    & {
      top: 20%;
    }
    //& .social-media {
    //  top: 485px;
    //}
    & h1 {
      width: 100%;
      //font-size: 40px;
    }
    & h2 {
      margin-top: 0.5rem;
    }
  }
}