@use '../scss/global' as g;

// variable
$navbar-height: 120px;

nav {
  z-index: 100;
  &.bg-er {
    display: none;
  }
  position: fixed;
    top: 0;
    left: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  & label.logo {
    font-family: 'Sacramento', cursive;
    color: #fff;
    line-height: 80px;
    font-size: 64px;
    padding: 0 100px;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    & a {
      cursor: pointer;
        text-decoration: none;
      color: white;
    }
  }
  ul {
    float: right;
    margin-right: 50px;
    li {
      cursor: pointer;
      display: inline-block;
      margin: 0 10px;
      line-height: 80px;
      a {
        font-family: "Lexend", sans-serif;
        text-transform: uppercase;
        color: #fff;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 3px;
        font-weight: 500;
        font-size: 1.2rem;
        // shadow the text
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        border-bottom: 3px solid rgba(255, 255, 255, 0);
        transition: border-bottom-color 0.3s ease-in-out;
        &.active, &:hover {
            border-bottom-color: #fff;
        }
      }
    }
  }
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 919px) {
  nav .bg-er {
    @include g.background-img;
    z-index: 99;
    display: block;
    opacity: 0;
    // animate opacity
    transition: opacity 0.3s ease-in-out;
    height: 0;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
  }
  nav label.logo {
    position: relative;
    font-size: 50px;
    padding-left: 40px;
  }
  .checkbtn {
    position: relative;
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: $navbar-height;
    left: -100%;
    text-align: center;
    transition: all 0.3s ease;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a {
    text-decoration: none;
    color: #fff;
  }
  #check:checked {
    & ~ ul {
      left: 0;
    }
    & ~ .bg-er {
      opacity: 1;
      height: 100vh;
        width: 100vw;
    }
  }
}

@media (max-width: 315px) {
  nav label.logo {
    font-size: 30px;
  }
}