@use '../scss/global' as g;

.project {
  position: relative;
  color: white;
  margin-top: 100px;
  padding: 10px 6vw 20px 6vw;
  //height: calc(100vh - 130px);
  width: 100vw;
  overflow: auto;
  z-index: 4;
  font-size: clamp(0.9rem, 2vw, 1.25rem);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  & .project-title {
    @include g.root-filter;
    width: 100%;
    text-transform: uppercase;
    border-radius: 12px;
    padding: clamp(0.67rem, 2vw, 1rem) clamp(0.1rem, 3vw, 1.5rem);
    & small {
      text-transform: none;
    }
  }
  & .divider {
    margin: 10px 0;
  }
  & .subtitle {
    font-family: 'Lexend', sans-serif;
    font-size: clamp(0.8rem, 2vw, 1rem);
    margin: 0;
    letter-spacing: 1px;
    color: #fff;
    text-transform: none;
  }
  & .project-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    & .project-item {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 10px;
      flex-grow: 1;
      border-radius: 12px;
      @include g.root-filter;
      transition: opacity 0.3s ease-in-out;
      //max-width: 500px;
      & .divider {
        color: white;
      }
      &:hover {
        opacity: 0.7;
      }
      padding: clamp(1rem, 2vw, 1.5rem) clamp(1rem, 3vw, 1.5rem);
      & .project-item-title {
        font-family: 'Lexend', sans-serif;
        font-size: clamp(0.8rem, 2vw, 1rem);
        margin: 0;
        letter-spacing: 1px;
        color: #fff;
        text-transform: none;
      }
      & .project-item-subtitle {
        font-family: 'Lexend', sans-serif;
        font-size: clamp(0.7rem, 2vw, 1rem);
        margin: 0;
        letter-spacing: 1px;
        color: #fff;
        text-transform: none;
        max-width: 500px;
      }
      & .project-tech-stack {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
      }
      & .project-tech-stack-item {
        font-size: clamp(0.8rem, 2vw, 1rem);
        border: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
      }
    }
  }
  & .navigation {
    align-self: flex-end;
  }
}